<div class="loading"></div>
<div class="step active start">
  <div class="background background-layer-01"></div>
  <div class="background background-layer-02">
    <img src="assets/images/background-layer-02.svg">
  </div>
  <div class="background background-layer-03"></div>
  <div class="background background-layer-04">
    <div class="start-menu">
      <a class="start-button">Create UR Patch!</a>
    </div>
  </div>
</div>
<div class="step customize">
  <div class="canvas">
    <div class="canvas-main">
      <div class="patch patch-01">
        <div class="patch-background"></div>
        {{> patch-01}}
      </div>
    </div>
    <div class="canvas-menu">
      <h2>SELECT SHAPE COLOR</h2>
      <div class="color-palette shape">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
        <a class="color color-3"></a>
        <a class="color color-4"></a>
        <a class="color color-5"></a>
        <a class="color color-6"></a>
        <a class="color color-7"></a>
        <a class="color color-8"></a>
        <a class="color color-9"></a>
        <a class="color color-10"></a>
        <a class="color color-11"></a>
        <a class="color color-12"></a>
        <a class="color color-13"></a>
        <a class="color color-14"></a>
        <a class="color color-15"></a>
        <a class="color color-16"></a>
        <a class="color color-17"></a>
        <a class="color color-18"></a>
        <a class="color color-19"></a>
        <a class="color color-20"></a>
      </div>
      <h2>SELECT BACKGROUND</h2>
      <div class="color-palette background">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
        <a class="color color-3"></a>
      </div>
      <h2>SELECT SKIN COLOR</h2>
      <div class="color-palette skin">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
        <a class="color color-3"></a>
        <a class="color color-4"></a>
        <a class="color color-5"></a>
      </div>
    </div>
  </div>
</div>
