<div class="loading"></div>
<div class="step active start">
  <div class="background background-01"></div>
  <div class="background background-02">
    <img src="assets/images/start-background-02.svg">
  </div>
  <div class="background background-03"></div>
  <div class="background background-04">
    <div class="menu">
      <a class="button confirm"><span>CREATE UR PATCH!</span></a>
    </div>
  </div>
</div>
<div class="step choose">
  <h1>SELECT A DESIGN!</h1>
  <div class="gallery">
    <a><img src="assets/images/thumbnail-01.png"></a>
    <a><img src="assets/images/thumbnail-02.png"></a>
    <a><img src="assets/images/thumbnail-03.png"></a>
    <a><img src="assets/images/thumbnail-04.png"></a>
    <a><img src="assets/images/thumbnail-05.png"></a>
    <a><img src="assets/images/thumbnail-06.png"></a>
    <a><img src="assets/images/thumbnail-07.png"></a>
    <a><img src="assets/images/thumbnail-08.png"></a>
    <a><img src="assets/images/thumbnail-09.png"></a>
    <a><img src="assets/images/thumbnail-10.png"></a>
    <a><img src="assets/images/thumbnail-11.png"></a>
    <a><img src="assets/images/thumbnail-12.png"></a>
    <a><img src="assets/images/thumbnail-13.png"></a>
    <a><img src="assets/images/thumbnail-14.png"></a>
    <a><img src="assets/images/thumbnail-15.png"></a>
    <a><img src="assets/images/thumbnail-16.png"></a>
  </div>
  <div class="bottom">
    <p><a class="back">Love POPSTAR?</a></p>
    <a class="button confirm disabled"><span>START CUSTOMIZE!</span></a>
  </div>
</div>
<div class="step customize">
  <div class="canvas">
    <div class="main">
      <div class="patch-container">
        <div class="patch">
          <div class="patch-background-container">
            <div class="patch-background"></div>
          </div>
          {{> patch}}
        </div>
      </div>
    </div>
    <div class="menu">
      <h2>SELECT SHAPE COLOR</h2>
      <div class="color-palette shape">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
        <a class="color color-3"></a>
        <a class="color color-4"></a>
        <a class="color color-5"></a>
        <a class="color color-6"></a>
        <a class="color color-7"></a>
        <a class="color color-8"></a>
        <a class="color color-9"></a>
        <a class="color color-10"></a>
        <a class="color color-11"></a>
        <a class="color color-12"></a>
        <a class="color color-13"></a>
        <a class="color color-14"></a>
        <a class="color color-15"></a>
        <a class="color color-16"></a>
        <a class="color color-17"></a>
        <a class="color color-18"></a>
        <a class="color color-19"></a>
        <a class="color color-20"></a>
      </div>
      <h2>SELECT PATCH</h2>
      <div class="color-palette background">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
      </div>
      <h2>SELECT SKIN COLOR</h2>
      <div class="color-palette skin">
        <a class="color color-1"></a>
        <a class="color color-2"></a>
        <a class="color color-3"></a>
        <a class="color color-4"></a>
        <a class="color color-5"></a>
      </div>
      <a class="button confirm"><span>LOOK GOOD!</span></a>
      <p><a class="back">Change Patch</a></p>
    </div>
  </div>
</div>
<div class="step finalize">
  <div class="background background-01"></div>
  <div class="background background-02">
    <img src="assets/images/start-background-02.svg">
  </div>
  <div class="background background-03"></div>
  <div class="container">
    <div class="menu">
      <h1>ONLY ONE STEP AWAY!</h1>
      <div class="block">
        <div class="option">
          <h2>PRINT URSELF!</h2>
          <div class="illustration">
            <img src="assets/images/printer.png" />
          </div>
          <a class="button print"><span>PRINT NOW!</span></a>
        </div>
        <div class="option">
          <h2>BUY ONLINE!</h2>
          <div class="illustration">
            <img src="assets/images/logo.png" />
          </div>
          <a class="button order"><span>ORDER NOW!</span></a>
        </div>
      </div>
      <p><a class="back">Change Colors</a></p>
    </div>
  </div>
</div>
