html { min-height: 100%; }

body { position: absolute; width: 100%; height: 100%; margin: 0; font-family: oswald, san-serif; overflow: hidden; color: #000; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; font-family: bangers, san-serif; font-weight: 400; line-height: 1.25; letter-spacing: 1px; }

h1 { font-size: 48px; margin-bottom: 20px; }
h2 { font-size: 34px; margin-bottom: 20px; }

p { margin: 12px 0 0 0; }

div { box-sizing: border-box; }
a { box-sizing: border-box; cursor: pointer; user-select: none; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input { outline: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &::-ms-clear { display: none; }
}

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-button { width: 0; height: 0; }
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.15); border-radius: 6px; }
::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.15); }
::-webkit-scrollbar-thumb:active { background-color: rgba(0, 0, 0, 0.15); }
::-webkit-scrollbar-track { background-color: transparent; border-radius: 6px; }
::-webkit-scrollbar-track:hover { background-color: transparent; }
::-webkit-scrollbar-track:active { background-color: transparent; }
::-webkit-scrollbar-corner { background: transparent; }

.loading { min-width: 1024px; position: absolute; left: 0; width: 100%; height: 100%; background: #fff; z-index: 2; }

.button { position: relative; display: inline-block; margin: 0 0 12px 0; will-change: background-color; transition: background-color 200ms; z-index: 0;
  &:after { content: ""; position: absolute; bottom: -12px; left: 0; width: 100%; height: 50px; border-radius: 12px; will-change: background-color; transition: background-color 200ms; }
  &:active span, & span:active { top: 12px; }
  &.confirm {
    &:after { background-color: darken(#faaa41, 20%); }
    &:hover span { background-color: lighten(#faaa41, 5%); }
    &.disabled { cursor: not-allowed;
      span { background-color: lighten(grayscale(#faaa41), 15%); }
      &:after { background-color: lighten(grayscale(#df8a41), 15%); }
      &:hover span { background-color: lighten(grayscale(#faaa41), 15%); }
      &:active span { top: 0; }
    }
    span { letter-spacing: 1px; background-color: #faaa41; }
  }
  &.print {
    &:after { background-color: darken(#69bc45, 20%); }
    &:hover span { background-color: lighten(#69bc45, 5%); }
    span { background-color: #69bc45; }
  }
  &.order {
    &:after { background-color: darken(#49c7ef, 20%); }
    &:hover span { background-color: lighten(#49c7ef, 5%); }
    span { background-color: #49c7ef; }
  }
  span { display: block; position: relative; top: 0; font-family: bangers, sans-serif; line-height: 1.5; text-align: center; color: #fff; letter-spacing: 1px; white-space: nowrap; z-index: 1; will-change: top; transition: top 200ms; }
}

.back { display: inline-block; position: relative; padding: 0 20px; font-size: 24px;
  &:before { content: ""; position: absolute; width: 0; height: 0; top: 14px; left: 0; border-style: solid; border-width: 6px 10px 6px 0; border-color: transparent #000 transparent transparent;
 }
}

.step { display: none; position: absolute; left: 0; width: 100%; height: 100%; will-change: left; transition: left 700ms; overflow: hidden; z-index: -1;
  &.active { display: block; z-index: 1; }
}

.start { min-width: 320px; min-height: 675px;
  .background { position: absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center; overflow: hidden; }
  .background-01 { background-image: url('../images/start-background-01.svg'); }
  .background-02 {
    img { position: absolute; top: -100%; right: -100%; bottom: -100%; left: -100%; margin: auto; width: 150%; animation: spin 18s infinite linear; }
  }
  .background-03 { background-image: url('../images/start-background-03.svg'); }
  .background-04 { background-image: url('../images/start-background-04.svg');
    .menu { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 22%; min-width: 300px; height: 100%; }
    .button { position: absolute; left: 0; bottom: 31%; width: 100%; margin: auto;
      span { padding: 8px 0; font-size: 36px; border-radius: 12px; }
    }
  }
}

@media (max-height: 900px) {
  .start {
    .background-layer-04 {
      .start-button { bottom: 30%; }
    }
  }
}

@media (max-height: 700px) {
  .start {
    .background-layer-04 {
      .start-button { bottom: 28%; }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.choose { padding: 112px 0 153px 0; background-color: #fff;
  h1 { position: absolute; top: 0; left: 0; width: 100%; margin: 0; padding: 16px 30px; color: #fff; border-bottom: 10px solid #000; background-color: #faaa41; }
  .gallery { height: 100%; padding: 30px 30px 0; border-top: 10px solid #000; border-bottom: 10px solid #000; overflow-x: hidden; overflow-y: auto; background-color: #ff8ab4;
    a { position: relative; display: block; float: left; margin: 0 30px 30px 0; z-index: 0;
      &:after { content: ""; position: absolute; top: -10px; left: -10px; width: 100%; height: 100%; padding: 10px; box-sizing: content-box; border-radius: 30px; background-color: transparent; z-index: -1; will-change: background-color; transition: background-color 100ms; }
      &:hover:after { background-color: #ece400; }
      &.active:after { background-color: #ece400; }
      img { display: block; padding: 12px; background-color: #fff; border-radius: 20px; }
    }
  }
  .bottom { position: absolute; bottom: 0; width: 100%; height: 143px; border-top: 10px solid #000; background-color: #74dae6;
    .button.confirm { position: absolute; right: 30px; bottom: 30px;
      span { padding: 8px 40px; font-size: 30px; border-radius: 12px; }
    }
    p { padding: 30px; }
  }
}

.customize {
  .canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;
    .main { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0 400px 0 0; background-color: #ffdbac; }
    .menu { position: absolute; top: 0; right: 0; width: 400px; height: 100%; padding: 30px 15px 0 30px; border-left: 10px solid #000; background-color: #fff; overflow-x: hidden; overflow-y: auto;
      .back { margin: 12px 0 30px 0; }
    }
  }
  .patch-container { height: 100%; overflow: auto;
    .patch { position: relative; height: 100%; min-width: 600px; min-height: 600px; z-index: 0;
      svg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 70%; min-width: 500px; min-height: 500px; max-width: 700px; max-height: 700px; margin: auto; cursor: pointer; }
      path, g { will-change: opacity; transition: opacity 200ms;
        &:hover { opacity: 0.5; }
      }
      .patch-background-container { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; max-width: 900px; max-height: 900px; margin: auto; padding: 20px; z-index: -1;
        .patch-background { height: 100%; background-color: transparent; border-radius: 20px; will-change: background-color; transition: background-color 100ms; }
      }
    }
  }
  .color-palette { margin: 0 0 16px 0; overflow: hidden;
    &.shape {
      .color-1 { background-color: #f5ea14; }
      .color-2 { background-color: #69bc45; }
      .color-3 { background-color: #49c7ef; }
      .color-4 { background-color: #f287b0; }
      .color-5 { background-color: #faaa41; }
      .color-6 { background-color: #d760a3; }
      .color-7 { background-color: #4f6ab1; }
      .color-8 { background-color: #b7b9bb; }
      .color-9 { background-color: #231f20; }
      .color-10 { background-color: #ffffff; }
      .color-11 { background-color: #dfcba7; }
      .color-12 { background-color: #f5aac2; }
      .color-13 { background-color: #a99ecd; }
      .color-14 { background-color: #a3d39d; }
      .color-15 { background-color: #f6945f; }
      .color-16 { background-color: #3fabc1; }
      .color-17 { background-color: #ce7cb2; }
      .color-18 { background-color: #ef5c88; }
      .color-19 { background-color: #5650a1; }
      .color-20 { background-color: #51b748; }
    }
    &.background {
      .color-1 { background-color: transparent; background-image: url('../images/patch-background-01.png'); }
      .color-2 { background-color: #fff; }
    }
    &.skin {
      .color-1 { background-color: #ffdbac; }
      .color-2 { background-color: #f1c27d; }
      .color-3 { background-color: #e0ac69; }
      .color-4 { background-color: #c68642; }
      .color-5 { background-color: #8d5524; }
    }
    a { display: block; float: left; width: 60px; height: 60px; margin: 0 16px 16px 0; border-radius: 40px; border: 8px solid #000; }
  }
  .button.confirm {
    span { padding: 8px 40px; font-size: 30px; border-radius: 12px; }
  }
}

.finalize { background-color: #ff8ab4;
  .background { position: absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center; overflow: hidden; }
  .background-01 { background-image: url('../images/start-background-01.svg'); }
  .background-02 {
    img { position: absolute; top: -100%; right: -100%; bottom: -100%; left: -100%; margin: auto; width: 150%; animation: spin 18s infinite linear; }
  }
  .background-03 { background-image: url('../images/start-background-03.svg'); }
  .container { position: absolute; width: 100%; height: 100%; overflow: auto;
    .menu { position: absolute; top: 0; right: 0; bottom: 0; left: 0; min-width: 600px; max-width: 940px; max-height: 741px; margin: auto; padding: 20px; box-sizing: content-box;
      h1 { text-align: center; }
      p { margin: 20px 0; text-align: center; }
      .block { background-color: #fff; margin: 0 0 20px 0; padding: 40px; border-radius: 20px; overflow: hidden;
        .option { float: left; width: 50%; padding: 0 20px;
          h2 { width: 100%; text-align: center; }
          .illustration { padding: 20px; background-color: #fff; border-radius: 10px;
            img { width: 100%; height: auto; }
          }
          .button { width: 100%; margin: 30px 0 12px 0;
            span { padding: 8px 40px; font-size: 30px; border-radius: 12px; }
          }
        }
      }
    }
  }
}
