<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Create UR Patch! | POPSTAR!</title>
<link rel="shortcut icon" href="assets/images/favicon.png"/>
<link rel="stylesheet" href="assets/styles/app.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers|Oswald"/>
</head>
<body>
{% body %}
<script src="assets/plugins/jquery.min.js"></script>
<script src="assets/scripts/app.min.js"></script>
</body>
</html>
